@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Page */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
.navbar {
  background-color: #9fa8da;
}

.nav-link {
  color: black;
  font-weight: 600;
}

.searchBox{
  max-width: 50%;
  margin-right: 5px;
}

.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBtn{
  width: 50%;
  margin-right: 10px;
}

.alert-dismissible .btn-close {
  position: relative;
}

/* Footer */
.page-footer {
  background-color: #5c6bc0;
}

.footer-copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer {
  margin: 0%;
}

.footer-text,
.copyright-text {
  color: #fff;
}

.copyright-text {
  padding-right: 10px;
}

/* Main Titles */
.main-titles {
  color: #212121;
  text-align: center;
  font-weight: 900;
  font-family: "Playfair Display", serif;
}

.form-title, label {
  font-family: "Karla", serif;
  font-weight: 600;
}

.title-description{
  position: relative;
  top: 10px;
}

/* Flash Messages */
.flashes h4{
  line-height: 2;
}

.flash-messages{
  background-color: #cfd8dcda;
}

.alert{
  text-align: center;
  padding-right: 16px;
}

/* Go Back Button */
.backBtn{
 margin: 10px;
border-radius: 16px;
color: white;
background: #000000; 
}

/* Homepage Content */
.lead{
  text-align: center;
}

.d-block {
  height: 400px;
}

.card-body h5 , .card-content h5{
  text-align: center;
}


/* Sign In/Up Page */
.sign-in{
  border: 1px solid #b2dfdbb4;
  border-width: medium;
  width: fit-content;
  text-align: center;
  background-color: #eeeeee;
  padding-bottom: 20px;
  margin-top: 20px;
}

.form{
  padding-top: 20px;
}

.form > div {
  padding: 10px;
}

.form input{
  border: 2px solid #82c5c0b4;
}

.form input:hover{
  border-color:#639692b4;
}

.signInBtn, .signUpBtn{
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: #5ab4adb4;
  margin-bottom: 5px;
}
.signInBtn:hover, .signUpBtn:hover {
  background-color: rgba(68, 136, 130, 0.8);
}

.dropdown-divider{
  border-top: 1px solid #a0a1a3bf;
}

.forgot-password {
  padding-top: 5px;
}

div > label > i {
  padding-right: 10px;
}

form div.incorrect input{
border-color: rgb(214, 24, 46);
}

#error-msg{
  color: rgb(214, 24, 46);
  margin-bottom: 0px;
  font-weight: 700;
}

/* Forgotten Password Page */
#forgotPasswordForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.forgotBtn{
  background: #9ccc65;
  font-weight: 600;
  margin-left: 10px;
}
.forgotBtn:hover {
  background: #7cb342;
}
/* Recipe Page */
.card-img-top {
  height: 270px;
}

.card-image{
  object-fit: cover;
}

/* Dashboard */
.dashmain-title{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 55px;
}

.dashboard-sub {
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}

.users-recipes{
  margin-top: 20px;
  margin-left: 20px;
}

.your_recipes{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.add-recipe-btn, .addCatBtn{
  text-align: center;
}

.addBtn{
  background-color: #cfd8dc;
  border-radius: 3px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  border: 2px solid #bbc3c7;
  margin-right: 5px;
}

a.addBtn{
  color: #01579b;
}

.dashbuttons{
  display: flex;
  justify-content: space-around;
}

.dashBtns{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: baseline;
  justify-content: center;
  margin-right: 0px;
}

/* Create/ Edit Recipe Page */
.recipeForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadTxt{
  text-decoration: underline;
  font-weight: 700;
}

.select_category {
  height: 25px;
}

.timing div {
  margin-left: 5px;
}

div > span i /* recipe description */ {
  padding-right: 5px;
}

.timing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*  Add Category */
.addCategory{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.addCategory > i {
  padding-right: 5px;
}

.categoryTxt{
  text-align: center;
  font-weight: 600;
}

.addCategory > button {
    background: #9ccc65;
    font-weight: 600;
}

.addCategory > button:hover{
    background: #7cb342;
}

#category_name{
  margin-right: 5px;
  margin-left: 5px;
}
/* View Recipe Template */
.view-desc{
margin-top: 16px;
text-align: center;
}

.view-times {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.view-times > p {
  margin-right: 15px;
}

.view-ingredients, .view-intructions {
  margin-bottom: 25px;
}

.comments{
  margin-top: 100px;
  margin-bottom: 40px;
}

.noSearchTxt{
  font-weight: 800;
  margin-top: 30px;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/* Gallery Page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.recipe-card {
  text-align: center;
}

.recipe-image {
  height: 200px; 
  object-fit: fill;
  width: 100%; 
  border-radius: 5px;
}

/*--------Media Queries------ */
/*-- Extra Small devices (portrait phones, 576px and less--*/
@media only screen and (max-width: 375px){
  .footer-copyright > a {
    padding-right: 0px;
    margin-left: 20px;
  }

/* Sign in/Up form */
  .form > div {
    padding-top: 5px;
  }
  .form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .sign-in{
    padding: 5px;
  }

  .searchBox{
    max-width: 25%;
    margin-right: 5px;
  }


  .searchBtn{
    width: 35%;
    margin-right: 10px;
  }
}

/* Dashboard */
.your_recipes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}