@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Page */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
.navbar {
  background-color: #9fa8da;
}

.nav-link {
  color: black;
  font-weight: 800;
}

/* Footer */
.page-footer {
  background-color: #5c6bc0;
}

.footer {
  margin: 0%;
}

.footer-text,
.copyright-text {
  color: #fff;
}

.copyright-text {
  padding-right: 10px;
}

/* Main Titles */
.main-titles {
  color: #212121;
  text-align: center;
  font-weight: 900;
}

/* Homepage Content */

.img-card {
  height: 300px;
}

.homepage-description{
  text-align: center;
}

.card-title-home{
  font-weight: 800;
  font-family: "Karla", sans-serif;
}

/* Recipe Page */
.d-block {
  height: 400px;
}
