{% extends "base.html" %}
{% block content %}

<h1 class="main-titles">Create your own recipe</h1>

<div class="container card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-utensils"></i>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlength="25" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
            <div class="input-field col s12">
                <i class="fa-solid fa-comment"></i>
                <input id="recipe_description" name="recipe_description" minlength="5" type="text" required>
                <label for="recipe_drescription">Recipe Description</label>
            </div>
            <div class="input-field col s12">
                <i class="fa-solid fa-list"></i>
                <input id="recipe_instructions" name="recipe_instructions" minlength="5" type="text" required>
                <label for="recipe_instructions">Recipe Instructions</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-light-large">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
                <button type="delete" class="btn-danger">
                    Delete Recipe <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}