{% extends "base.html" %}
{% block content %}

<h1 class="dashmain-title main-titles"> {{ user.username }}'s Dashboard</h1>

<button class="backBtn" onclick="history.back()">Go Back</button>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h2 class="dashboard-sub"> Your Recipes</h2>

<div class="container dashBtns">
    <div class="center-align add-recipe-btn">
        <a href="{{ url_for('add_recipe')}}" class="addBtn">
            Add Recipe <i class="fas fa-plus-square center"></i>
        </a>
    </div>
    <div class="center-align addCatBtn">
        <a href="{{ url_for('add_category')}}" class="addBtn">
            Add Category <i class="fas fa-plus-square center"></i>
        </a>
    </div>
</div>

<div class="container your_recipes">
    {% for recipe in recipes %}
    <div class="card users-recipes" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/' + recipe.image_url) }}" alt="{{ recipe.title }}"
            class="img-fluid">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
            <div class="dashbuttons">
                <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}" class="btn btn-success">View</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn btn-info">Edit</a>
                <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this recipe?');">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}