{% extends "base.html" %}
{% block content %}

<h1 class="dashmain-title main-titles"> {{ user.username }}'s Dashboard</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i
                class="fa-solid fa-xmark"></i></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h2 class="dashboard-sub"> Your Recipes</h2>

<div class="row">
    <div class="col s12 center-align add-recipe-btn">
        <a href="{{ url_for('add_recipe')}}" class="addBtn">
            Add Recipe <i class="fas fa-plus-square center"></i>
        </a>
    </div>
</div>

<div class="container your_recipes">
    {% for recipe in recipes %}
    <div class="card users-recipes" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
            <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}" class="btn btn-info">View</a>
            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn btn-green">Edit</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}