{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container mt-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<h1 class="main-titles">Forgot Password</h1>
<form method="POST" action="{{ url_for('forgot_password') }}">
    <div>
        <label for="email">Enter your email address:</label>
        <input type="email" name="email" id="email" placeholder="email@example.com" required>
    </div>
    <button type="submit" class="btn">Send Reset Link</button>
</form>

{% endblock %}