{% extends "base.html" %}
{% block content %}
<button class="backBtn" onclick="history.back()">Go Back</button>

<div class="container-fluid title-description">
    <div class="container">
        <h1 class="display-4 main-titles">Gallery Page</h1>
        <p class="lead">View the lovely creations made by other homecooks!</p>
    </div>
</div>

<div class="container">
    <div class="row gallery">
        {% for recipe in recipes %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card recipe-card">
                <img src="{{ url_for('static', filename='images/' + recipe.image_url) }}" alt="{{ recipe.title }}"
                    class="recipe-image card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}