{% extends "base.html" %}
{% block content %}
<button onclick="history.back()">Go Back</button>

<div class="container-fluid title-description">
    <div class="container">
        <h1 class="display-4 main-titles">Gallery Page</h1>
        <p class="lead">View the lovely creations made by other homecooks!</p>
    </div>
</div>

<div class="container your_recipes">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="mb-4">
                {% if recipe.image_url %}
                <img src="{{ url_for('static', filename='images/' + recipe.image_url) }}"
                    alt="Image of {{ recipe.title }}" class="img-fluid">
                {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image"
                    class="img-fluid">
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}