{% extends "base.html" %}
{% block content %}
<button class="backBtn" onclick="history.back()">Go Back</button>

<div class="container-fluid title-description">
    <div class="container">
        <h1 class="display-4 main-titles">Gallery Page</h1>
        <p class="lead">View the lovely creations made by other homecooks!</p>
    </div>
</div>

<div class="gallery">
    {% for recipe in recipes %}
    <div class="recipe-card">
        <img src="{{ url_for('static', filename='images/' + recipe.image_url) }}" alt="{{ recipe.title }}"
            class="recipe-image img-fluid ">
        <h3>{{ recipe.title }}</h3>
    </div>
    {% endfor %}
</div>


{% endblock %}