{% extends "base.html" %}
{% block content %}


<div class="container-fluid title-description">
    <div class="container">
        <h1 class="display-4 main-titles">For Home Cooks</h1>
        <p class="lead">A place for home cooks to find the best homemade recipes</p>
    </div>
</div>

<div class="card-deck homepage-recipe-deck">
    <div class="card">
        <img class="card-img-top img-card"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4Ym9z-f2RyOhJn_VxYhLe-cfUSA2JWCbI6w&s"
            alt="Card image cap">
        <div class="card-body homepage-description">
            <h5 class="card-title-home">Sweet Treats</h5>
            <p class="card-text">Satisfy your sweet tooth!</p>
        </div>
    </div>
    <div class="card homepage-description">
        <img class="card-img-top img-card" src="https://images.pexels.com/photos/10821324/pexels-photo-10821324.jpeg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-home">Dinner Ideas</h5>
            <p class="card-text">Don't know what to make for dinner?</p>
        </div>
    </div>
    <div class="card homepage-description">
        <img class="card-img-top img-card" src="https://images.pexels.com/photos/10476095/pexels-photo-10476095.jpeg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title-home">Healthy Goods</h5>
            <p class="card-text">Want to satisfy your cravings but still want to be healthy?</p>
        </div>
    </div>
</div>

{% endblock %}