{% extends "base.html" %}
{% block content %}

<h1 class="main-titles">Home Page</h1>


<div class="card-deck homepage-recipe-deck">
    <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sweet Treats</h5>
            <p class="card-text">Satisfy your sweet tooth!.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Dinner Ideas</h5>
            <p class="card-text">Don't know what to make for dinner?</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Healthy Goods</h5>
            <p class="card-text">Want to satisfy your cravings but still want to be healthy?</p>
        </div>
    </div>
</div>

{% endblock %}