{% extends "base.html" %}
{% block content %}

<h1 class="main-titles">Sign Up!</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div>
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="sign-in container">
    <p id="error-msg"></p>
    <form id="form" class="form" method="POST" action="{{ url_for('signup') }}">
        <div>
            <i class="fa-solid fa-user"></i>
            <label for="username"></label>
            <input type="text" name="username" id="usernameInput" placeholder="User Name">
        </div>
        <div>
            <i class="fa-solid fa-at"></i>
            <label for="email"></label>
            <input type="email" name="email" id="emailInput" placeholder="email@example.com">
        </div>
        <div>
            <i class="fa-solid fa-key"></i>
            <label for="password"></label>
            <input type="password" name="password" id="passwordInput" placeholder="Password">
        </div>
        <div>
            <i class="fa-solid fa-repeat"></i>
            <label for="repeatPassword"></label>
            <input type="password" name="repeatPassword" id="repeatPasswordInput" placeholder=" Repeat Password">
        </div>
        <button type="submit" class="btn signUpBtn">Sign Up</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ url_for('signin') }}">Already have an account?</a>
    <a class="dropdown-item forgot-password" href="#">Forgot password?</a>
</div>

{% endblock %}