{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container mt-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<h1 class="main-titles">Sign In</h1>

<div class="sign-in container">
    <p id="error-msg"></p>
    <form id="form" class="form" method="POST" action="{{ url_for('signin') }}">
        <div>
            <i class="fa-solid fa-at"></i>
            <label for="email"></label>
            <input type="email" name="email" id="emailInput" placeholder="email@example.com">
        </div>
        <div>
            <i class="fa-solid fa-key"></i>
            <label for="password"></label>
            <input type="password" name="password" id="passwordInput" placeholder="Password">
        </div>
        <button type="submit" class="btn signInBtn">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ url_for('signup') }}">Don't have an account? Sign up</a>
    <a class="dropdown-item forgot-password" href="{{ url_for('forgot_password') }}">Forgot password?</a>
</div>

{% endblock %}