{% extends "base.html" %}
{% block content %}

<h1 class="main-titles">Sign Up!</h1>

<div class="sign-in container">
    <p id="error-msg"></p>
    <form id="form" class="form" method="POST" action="{{ url_for('signup') }}">
        <div>
            <label for="username"><i class="fa-solid fa-user"></i></label>
            <input type="text" name="username" id="usernameInput" placeholder="User Name">
        </div>
        <div>
            <label for="email"><i class="fa-solid fa-at"></i></label>
            <input type="email" name="email" id="emailInput" placeholder="email@example.com">
        </div>
        <div>
            <label for="password"><i class="fa-solid fa-key"></i></label>
            <input type="password" name="password" id="passwordInput" placeholder="Password">
        </div>
        <div>
            <label for="repeatPassword"><i class="fa-solid fa-repeat"></i></label>
            <input type="password" name="repeatPassword" id="repeatPasswordInput" placeholder=" Repeat Password">
        </div>
        <button type="submit" class="btn signUpBtn">Sign Up</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ url_for('signin') }}">Already have an account?</a>
    <a class="dropdown-item forgot-password" href="#">Forgot password?</a>
</div>

{% endblock %}